<launch>

	<!-- START A GROUP WITH NAMESPACE "template" -->
	<group ns="encoder_data_collection_launch_group">
		<node
			pkg    = "asclinic_pkg"
			name   = "timer_monitor"
			output = "screen"
			type   = "timer_monitor"
		/>

		<node
			pkg    = "asclinic_pkg"
			name   = "motor_dynamics"
			output = "screen"
			type   = "motor_dynamics"
		/>

		<node
			pkg    = "asclinic_pkg"
			name   = "ref_pwm_publish"
			output = "screen"
			type   = "ref_pwm_publish"
		/>

		<node
			pkg    = "asclinic_pkg"
			name   = "encoder_monitor_r"
			output = "screen"
			type   = "encoder_monitor_r"
		/>

		<node
			pkg    = "asclinic_pkg"
			name   = "encoder_monitor_l"
			output = "screen"
			type   = "encoder_monitor_l"
		/>

		<node
			pkg    = "asclinic_pkg"
			name   = "encoder_subscriber"
			output = "screen"
			type   = "encoder_subscriber"
		/>

		/>

	</group>

</launch>
